@(message: String)

@main("Play with Scala.js") {
<h2>Play and Scala.js share a same message</h2>
<ul>
  <li>Play shouts out: <em>@message</em></li>
  <li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>
</ul>
<svg width="50" height="50">
  <circle cx="25" cy="25" r="22" fill="blue" stroke="gray" stroke-width="2" />
</svg>
<svg width="500" height="50">
  <rect x="0" y="0" width="500" height="50" />
</svg>
<svg width="500" height="50">
  <circle cx="250" cy="25" r="25"/>
</svg>
<div>
<svg width="500" height="50">
  <ellipse cx="250" cy="25" rx="100" ry="25" />
</svg>
</div>
}